.encabezado{
	text-align: center;
}

.cont-concurso{
	background-color:#eee;
	margin-bottom:18px;
	text-align:center;
	padding:24px;
	width:auto;
}

.num-concurso{
	display:inline-block;
}

.bolsa{
	text-transform:uppercase;
	font-weight:bold;
	font-size:36px;
}

.pelota{
	background-color:orange;
	border-radius:50%; 
	display:inline-block;
	font-size:30px;
	height:60px;
	position: relative;
	width:60px; 
}

.pelota span{ display:block; height:100%; line-height:60px; margin:auto; text-align: center;}

.pelota-adicional{
	background-color:yellow;
	margin-left:18px;
}

.num-stats-cont{
	background-color: #ED7D36;
	border: 6px solid #FF6633;
	border-radius: 5px;
	display: none;
	height: auto;
	min-height: 180px;
	padding: 12px;
	position: absolute;
	width: 240px;
}

.num-stats-cont div:first-of-type{ font-size: 40px; font-weight: bold; text-align:center; }

.ocurrencias{ font-weight: bold; }