{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    <h1 class="encabezado">Concursos recientes</h1>
	    {% for c in concursos %}
    	<div class="cont-concurso">
			<div class="num-concurso">
				concurso #<span>{{ c.concurso }}</span>
			</div>
    		<div class="cont-pelotas">
				<div class="pelota"><span>{{ c.num1 }}</span></div>
				<div class="pelota"><span>{{ c.num2 }}</span></div>
				<div class="pelota"><span>{{ c.num3 }}</span></div>
				<div class="pelota"><span>{{ c.num4 }}</span></div>
				<div class="pelota"><span>{{ c.num5 }}</span></div>
				<div class="pelota"><span>{{ c.num6 }}</span></div>
				<div class="pelota pelota-adicional"><span>{{ c.num7 }}</span></div>
    		</div>
        	<strong>{{ c.fecha }}</strong>
        	<div class="bolsa">
        		bolsa: {{ c.bolsa }}<br>
        	</div>
    	</div>
	    {%endfor %}
		
	</div>
</div>
<div class="num-stats-cont">
    <div></div>
    <span>N&uacute;mero de ocurrencias: <span class="total-ocurrencias"></span></span>
    <span>Como n&uacute;mero natural: <span class="ocurrencias-natural"></span></span>
    <span>Como n&uacute;mero adicional: <span class="ocurrencias-adicional"></span></span>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='concursos.js') }}"></script>
{% endblock %}
